
/* #region || CSS RESET (Used for folding code) */
/* http://meyerweb.com/eric/tools/css/reset/
v2.0 | 20110126
License: none (public domain)*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
    display: block;
}
body {
    line-height: 1;
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}
/* #endregion || CSS Reset*/

/* #region || General Styles */
html {
    background-color: rgba(122, 191, 191, .5);
    /*font-family: ;*/
}


h1 {

}
h2 {
font-size: 3em;
}
h3 {

}

nav {
background-color: #00ff00;
color: #ffffff;
width: 414px;
position: absolute;
top: 0;
z-index: 1;
}

nav h2, aside h2 {
visibility: hidden;
height: 0px;
margin: 0px;
}
nav li a {
display: block;
padding: 10px;
text-decoration: none;
color: purple;
}

nav span {

}
p {

}
dd { 

}
dt {

}
li {

}
input {

}
footer {

}

/* #endregion || General Styles */

/* #region || Mobile First */
body {
    background-color: #f2f2f2;
    width: 414px;
    margin: 0 auto;
}
#mainrecipe {
/*width=414px;*/
}

#mainrecipe img {
background-color: #ffffff;
width:414px;

}
/*ul {
overflow: hidden;
max-height: 0;
transition: max-height .5s ease-out;
}*/
input {
display: none;
}



footer img {
width: 100px;
}




/* #endregion || Mobile First */


@media screen and (min-width: 768px) {

body {
    width: 768px;
}

ul { 
overflow: visibile;
position: absolute;
top: 0;
display: grid;
grid-template-columns: repeat(7, 1fr);

}

}
@media screen and (min-width: 1280px) {
 

body {
    width: 1280px;
}
   
}

/*
50 POINTS EXTRA CREDIT (optional)
Add a media query for print.

Watch LinkedIn Learning's CSS:Print Style SheetsLinks to an external site.
Add @media print styles to your CSS
0.5 inch margins
serif font(s)
Images set not to display OR at grayscale
Do not display the nav
Replace hyperlinks with their full URL (when applicable)
Limit print to 1 page
*/
