/* #region || CSS RESET (Used for folding code) */
/* http://meyerweb.com/eric/tools/css/reset/
v2.0 | 20110126
License: none (public domain)*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
    display: block;
}
body {
    line-height: 1;

}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}
/* #endregion || CSS Reset*/

:root{
    --dkgray: #0D0D0D;
    --gray: #F2F2F2;
    --teal: #7ABFBF;
    --redorange: #EB5428;

    --transparent-teal: rgba(122, 191, 191, .5);
}

/* #region || General Styles */
html {
    background-color: var(--transparent-teal);
    box-sizing: border-box;
}
body {
    background-color: var(--gray);
    width: 414px;
    margin: 0 auto;
    display: grid;
    grid-template-rows: 180px 1047px 1025px 620px 330px;
    grid-template-columns: 414px;
    grid-template-areas:
    "nav"
    "head"
    "main"
    "aside"
    "footer";
}
header {
    grid-area: head;
}
main { 
    grid-area: main;
    width: 414px;
}
main h2 {
    text-align: center;
}
/* #endregion || General Styles */

/* #region || Typography */
h1, h2, h3, footer {
    font-family: "BEBAS NEUE", sans-serif;
    font-weight: 400;
    font-style: normal;
}
footer {
    font-size: 20px;
    grid-area: footer;
}
p, dd, li, nav, input {
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    font-weight: 400;
    font-style: normal;
}
nav li, nav span, menu li, #social li, nav p {
    font-family: 'BEBAS NEUE', sans-serif;
    font-size: 20px;
    font-weight: 400;
    font-style: normal;
}
menu { 
    color: var(--redorange);
    font-family: 'BEBAS NEUE', sans-serif;
    font-size: 20px;
    font-weight: 400;
    font-style: normal;
}
dt {
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    font-weight: 700;
    font-style: normal;
}
h1 {
    font-size: 40px;
}
h2 {
    font-size: 30px;
}
h3 {
    font-size: 25px;
}
a:visited {
    color: inherit;
}
/* #endregion || TYPOGRAPHY */



/* #region || Main Navigation */
nav {
    color: var(--redorange);
    width: 414px;
    height: 70px;
    position: absolute;
    /*top: 0;*/
    background-color: var(--gray);
    box-shadow: 0 0px 10px 0px rgba(0,0,0,.5);
    grid-area: nav;
}
nav h2, footer h2 {
    visibility: hidden;
    height: 0px;
    margin: 0px;
}
a { 
    text-decoration: none;
}
nav li:not(:first-child) {
    padding: 10px 18px 18px;
}
nav li {
    background-color: var(--gray);
}
nav ul {
    display: grid;
    grid-template-rows: repeat(8, 1fr);
    width: 414px;
    text-align: center;
}
nav li:not(:last-child) {
    z-index: 1;
}
nav li:not(#profile):hover{
    background-color: var(--redorange);
    color: var(--gray);
}
nav li:last-child {
    width: 0;
    height: 0;
}
nav ul img {
    visibility: hidden;
    height: 0px;
    width: 0px;
}

#search {
    position: absolute;
    top: 90px;
    left: 40px;
    display: grid;
    grid-template-columns: 275px 50px;
}
#search svg {
    stroke: var(--gray);
    background-color: var(--redorange);
    padding: 5px;
}
#search input {
    padding: 10px;
    border: solid 3px var(--redorange);
}
/* #endregion || Main Navigation */

ol { 
    list-style:decimal;
    padding-left: 10px;
}
ol li {
    margin-bottom: 1rem;
}

/* #region || Ratings */
.rating {
    padding-bottom: 10px;
}
.rating dl {
    font-weight: 700;
}
.rating dd {
    visibility: hidden;
    height: 0;
    width: 0;
}
/* #endregion || Ratings */

#profile {
    position: absolute;
    top: -6px;
    left: 340px;
    width: 38px;
    height: 48px;
    color: var(--dkgray);
    transition: all .5s ease-in-out;
}
#profile a {
    text-align: left;
}
#profile svg {
    stroke: var(--redorange);
}
#profile:hover {
    background-color: var(--redorange);
    transition:all .5s ease-in-out;
    color: var(--gray);
}

#profile svg:hover {
    stroke: var(--gray);
}
#menutext {
    padding: 0;
    width: 65px;
    text-align: center;
    color: var(--dkgray);
}
#profile p {
    padding: 0;
    width: 65px;
}
footer {
    background-color: var(--gray);
}
#copyright {
    text-align: center;
    display: flex;
    flex-direction:column-reverse;
    padding: 10px;
    align-items: center;
}
#copyright img {    
    align-self: center;
}
#copyright p{
    padding: 10px;
    width: 125px;
    font-family: "BEBAS NEUE", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 20px;

}

/* #region || Mobile First */
/* Required for Hamburger Menu */
nav ul {
    overflow: hidden;
    max-height: 0; 
}
#dropdown {
        display: none;
}
#dropdown:checked ~ ul { 
        max-height: 335px;
}
/* End: Required for Hamburger Menu */

header {
        width: 414px;
        margin-bottom: 20px;
        background-color: var(--gray);
        display: grid;
        grid-template-rows: 60px 80px 920px;
}
header h1 {
    padding-top: 10px;
    padding-bottom: 10px;
}
header h3, header svg {
    color: var(--redorange);
}
menu, h1 {
    text-align: center;
}
#details, #ingredients, #directions {
    padding-left: 15px;
    line-height: 1.75;
}
#details dl {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    width: 220px;
}
#details dt  {
    padding-right: 10px;
}
#logo {
        position: absolute;
        top: 0;
        right: 70px;
        background-color: var(--redorange);
        width: 280px;
        height: 70px;
        text-align: center;
        padding: 0;
}
nav img {
   width: 60px;
}
label, span {
    cursor: pointer;
    padding-left: 5px;
    text-align: center;
}
menu {
    background-color: var(--gray);
    display: grid;
    grid-template-columns: repeat(4,1fr);
    padding-top: 5px;
    height: 80px;
    list-style-type:none;
}
menu li a {
    display: flex;
    flex-direction: column;
    align-items: center;
}
#menutext:hover {
    cursor: pointer;
}
#intro img {
    background-color: var(--gray);
    width:414px;
    top: 75px;
    left: 200px;
}
#intro p {
    padding-bottom: 20px;
    line-height: 1.2;
    padding-left: 5px;
    padding-top: 5px;
}
#details {
    background-color: var(--gray);
    color: var(--dkgray);
}
aside {
    background-color: var(--teal);
    padding: 10px;
    line-height: 1.5;
    grid-area: aside;
}
aside h2, aside h3 {
    text-transform: uppercase;
}
aside h2 {
    text-align: center;
    /*padding-top: 10px;*/
    padding-bottom: 20px;
}
#side-dishes {
    display: grid;
    grid-template-rows: repeat(4, 1fr);
}

.dish {
    display: grid;
    grid-template-columns: 110px 1.25fr;
}
.dish h3 {
    grid-column-start: 2;
    padding-bottom: 5px;
}
.dish img {
    width: 90px;
    grid-row: 1 / 4;
    justify-content: center;
}
.dish p {
    padding: 5px 0;
}
.dish:hover {
    cursor: pointer;
}
#ingredients ul {
    list-style:inside;
}
/* #region || Footer */

footer img {
    width: 175px;
    padding-bottom: 10px;
}
#social {
    padding-top: 20px;
    width: 420px;
    grid-column: 2 / 3;
}
#social h3, #copyright h3 {
    visibility: hidden;
    height: 0;
    width: 0;
}
#social ul {
    display: grid;
    grid-template-columns: repeat(4, 103.5px);
    text-align: center;
}
#social a {
    text-transform: uppercase;
    color: var(--redorange);
    display: flex;
    flex-direction:column-reverse;
}
#social a svg {
    align-self: center;
}

#copyright {
    flex-wrap: wrap;
    grid-column: 1 / 2;
    grid-row: 1 / 2;
}
/* #endregion || Footer */
/* #endregion || Mobile First */

/* #region || 768px */
@media screen and (min-width: 768px) {
body {
        background-color: var(--gray);
        width: 768px;
        margin: 0 auto;
        display: grid;
        grid-template-rows: 200px 1400px 640px 330px 250px;
        grid-template-columns: 768px;
        grid-template-areas:
        "nav"
        "head"
        "main"
        "aside"
        "footer";
}
nav { 
    width: 768px;
    grid-area: nav;
}
header {
    width: 768px;
    
}
header h1 {
    text-align: left;
}
#intro img {
    width:768px;
}
header {
    width: 768px;
    margin-bottom: 20px;
    background-color: var(--gray);
    display: grid;
    grid-template-rows: 60px 0px 1000px;
}
menu {
    padding: 0;
    height: 100px;
    background: rgba(242,242,242, .8);
    position: relative;
    z-index: 1;
    align-content: space-evenly;
}
menu li a svg {
    position: relative;
}
nav ul {
    overflow: visible;
    position: absolute;
    top: 75px;
    display: grid;
    grid-template-columns: 110px 109.5px 109.5px 110px 109.5px 109.5px 110px;
    grid-template-rows: none;
}
#dropdown {
        display: none;
}
#dropdown:checked ~ ul { 
        max-height: 335px;
}
nav ul {
    width: 768px;
}
nav ul img {
    visibility: visible;
    height: 60px;
    width: 60px;
}
nav li:not(#profile):hover{
    background-color: var(--redorange);
    color: var(--gray);
}
nav li:last-child {
    width: 0;
    height: 0;
    padding: 0;
}
#search {
    position: absolute;
    top: 90px;
    left: 40px;
    display: grid;
    grid-template-columns: 275px 50px;
}
#search svg {
    stroke: var(--gray);
    background-color: var(--redorange);
    padding: 5px;
}
#search input {
    padding: 10px;
    border: solid 3px var(--redorange);
}
#side-dishes {
    display: grid;
    grid-template-rows: repeat(2, 1fr);
    grid-template-columns: repeat(2, 1fr);
    row-gap: 10px;
}

.dish {
    display: grid;
    grid-template-columns: 110px 1.25fr;
}
.dish h3 {
    grid-column-start: 2;
    padding-bottom: 5px;
}
.dish img {
    width: 90px;
    grid-row: 1 / 4;
    justify-content: center;
}
/*
nav li:first-child {

}
*/
.dropdown, #menutext {
    display: none;
}

.hamburger {
    display: none;
}
#logo {
    top: -75px;
    left: 0px;
    width: 80px;
    height: 80px;
}
#profile {
    top: -81px;
    left: 694px;
    height: 53px;
    transition:none;
}
#search {
    top: -65px;
    left: 350px;
}
nav {
    height: 187px;
}
header h1 {
    padding-left: 10px;
}
main {
    width: 768px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3,1fr);
}
#intro p {
    padding-left: 15px;
    padding-right: 15px;
}
/* #region || Main 768px || */
#details {
    grid-row: 1 / 2;
    grid-column: 2 / 3;
}
#details dl {
    justify-content: center;
}
#ingredients {
    grid-row: 2 / 4;
    grid-column: 1 / 2;
}
#directions {
    grid-row: 2 / 4;
    grid-column: 2 / 4;
    padding-right: 10px;
}
.rating {
    display: flex;
    flex-direction: row;
}
.stars {
    padding-left: 10px;
}
/* #endregion || Main */
/* #region || Footer 768px */
footer {
    display: grid;
    grid-template-columns: 1fr 2fr;
    justify-items: end;
}
#social a {
    text-transform: uppercase;
    color: var(--redorange);
    display: flex;
    flex-direction:column-reverse;
}
#social ul {
    justify-content: end;
}
#copyright {
    width: 200px;
    align-content: flex-start;
}
}
/* #endregion || Footer */
/* #endregion || 768px */


/* #region || 1280px */
@media screen and (min-width: 1280px) {
    body {
        background-color: var(--gray);
        width: 1280px;
        margin: 0 auto;
        display: grid;
        grid-template-rows: 200px 1250px 480px 500px 220px;
        grid-template-columns: 1280px;
        grid-template-areas:
        "nav"
        "head"
        "main"
        "aside"
        "footer";
}
nav { 
    width: 1280px;
    grid-area: nav;
    height: 112px;
}
header {
    width: 1280px;
    
}
header h1 {
    text-align: left;
}
#intro {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 100px;
}
#intro p {
    grid-column: 2 / 3;
}
header {
    width: 1280px;
    margin-bottom: 20px;
    background-color: var(--gray);
    display: grid;
    grid-template-rows: 60px 0px 1000px;
}
header h1 {
    text-align: center;
}
#menu { 
    height: 1148px;
    width: 100px;
    background-color: var(--gray);
    z-index: 1;
    border: 3px solid var(--redorange);
}
menu {
    background-color: var(--gray);
    position: relative;
    z-index: 1;
    align-content: space-evenly;
    grid-template-columns: 100px;
    grid-template-rows: repeat(4, 80px);
    height: 350px;
}
menu li a svg {
    position: relative;
    padding-top: 20px;
}
nav ul {
    overflow: visible;
    position: absolute;
    top: 0px;
    left: 275px;
    display: grid;
    grid-template-columns: 110px 109.5px 109.5px 110px 109.5px 109.5px 110px;
    grid-template-rows: none;
}
#search {
    position: absolute;
    top: 140px;
    left: 230px;
    display: grid;
    grid-template-columns: 275px 50px;
}
#search svg {
    stroke: var(--gray);
    background-color: var(--redorange);
    padding: 5px;
}
#search input {
    padding: 10px;
    border: solid 3px var(--redorange);
}
#side-dishes {
    grid-template-rows: 375px;
    grid-template-columns: repeat(4, 1fr);
    row-gap: 10px;
    margin-left: 10px;
}

.dish {
    display: grid;
    grid-template-columns: 250px;
    grid-template-rows: 275px 40px 40px 40px;
}
.dish h3 {
    grid-row: 2 / 3;
    padding-bottom: 5px;
    grid-column: 1 / 2;
}
.dish img {
    width: 265px;
    grid-row: 1 / 2;
}
.dish p {
    grid-row: 3 / 4;
}
.rating {
    grid-row: 4 / 5;
}
.dish p, .rating, .dish h3 {
    padding: 10px 10px 20px 15px;
}
#logo {
    top: -8px;
    left: -275px;
    width: 80px;
    height: 100px;
    padding: 20px 20px 0px 10px;
}
#profile {
    top: -2px;
    left: 905px;
    transition:none;
    padding: 20px 37px 18px 25px;
    height: 75px;
}
main {
    width: 1280px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 120px 200px;
}
#intro p {
    padding-left: 15px;
    padding-right: 15px;
}
#details {
    grid-row: 1 / 2;
    grid-column: 1 / 5;
    background-color: var(--dkgray);
    color: var(--teal);
}
#details dl {
    align-items: center;
    width: 1280px;
    height: 80px;
    display: flex;
    flex-direction: column;
    flex-wrap:wrap;

}
#ingredients {
    grid-row: 2 / 4;
    grid-column: 1 / 2;
}
#directions {
    grid-row: 2 / 4;
    grid-column: 2 / 5;
    padding-right: 10px;
}
.rating {
margin-top: 10px;
}
footer {
    display: grid;
    grid-template-columns: 1fr 2fr;
}
#social {
    width: 600px;
}
#social ul {
    grid-template-columns: repeat(4, 150px);
}
#copyright {
    justify-self:left;
    display: grid;
    grid-template-columns: 175px 50px;
    grid-template-rows: 200px;
}
#copyright p {
    grid-column: 2 / 3;
    grid-row: 1/ 2;
    align-self:flex-start;
    padding-top: 30px;
    padding-left: 0;
}
#copyright img {
    grid-column: 1 / 2;
    grid-row: 1 / 2;
}
}
/*
50 POINTS EXTRA CREDIT (optional)
Add a media query for print.

Watch LinkedIn Learning's CSS:Print Style SheetsLinks to an external site.
Add @media print styles to your CSS
0.5 inch margins
serif font(s)
Images set not to display OR at grayscale
Do not display the nav
Replace hyperlinks with their full URL (when applicable)
Limit print to 1 page*/